[Unit]
Description=Googel

[Service]
Restart=always
ExecStart=/home/home/Desktop/googel/staticserver --mode=spa --port=9987 --root=/home/home/Desktop/googel/
ExecStop=pkill -x 'staticserver'

[Install]
WantedBy=default.target
