[Unit]
Description=Googel

[Service]
Restart=always
ExecStart=~/Desktop/googel/staticserver --mode=spa --port=9987 --root=~/Desktop/googel/
ExecStop=pkill -x 'staticserver'

[Install]
WantedBy=default.target
